/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 150px;

}
.logo{
    color: #4E47FF ;
    width: 1140;
    font-weight: bolder;
    
}

.btn-primary{
background-color: #4E47FF;
color: white;
font-weight: bold;
font-size: 16px;
border-radius: 10px;
border: none;
padding: 10px;
}

.btn-primary:hover{
    background-color: seagreen;
}

.header{
    background-image: url('/Assets/Hero-bg.png');
}
.headline{
    text-align: center;
    padding: 2px 267.5px 152px 267.5px;
    margin-top: 158px;
    font width: 905px;
    font height: 152px;
  
}
    
.image{
    width: 300px;
    height: auto;
}
.title{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    margin: 100px 140px;
}

.dark{
    color: #252432;
}

.see{
    font-weight: bold;
    width: 517px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.lightdark{
    color: #252432;
}
.para-explore{
    width: 517px;
    height: 60px;
}

.image{
    max-width: 403px;
    max-height: 328px;
    border-radius: 48px;
}

.productive-user{
    background-color: #CECDF6;
    padding: 30px 50px;
    border-radius: 20px;
}

.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

.productive-user-title{
   background-color:#b1b0f0;
   padding: 10px 100px;
   border-radius: 10px;
}

.users{
    display: flex;
    justify-content: space-between;
}
.users-type{
    margin: 9px 0px;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(9, 9, 168);
    
}

.info-title{
    color: #000000;
    width: 528px;
    height: 232px;
    font-size: 70px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0%;
    align-items: center;
    padding: auto;
    
}

.information{
    color: #000000;
    font-size: 18px;
    font-weight: 300px;
    display: block;
}

.submit-btn{
    width: 497px;
    height: 62px;
    padding: 5px 5px;
    margin: left;
    width: 600px;

} 
.Information-section{
    display: flex;
    background-color:#CECDF6 ;
}

section form label{
    display: block;
}

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.card{
    width: 320px;
    border: black
    padding: 10px;
    
}
}
.card-image{
    display: flex;
    gap: 10px;
    width: 50px 50px;
}
.card-section{
    display: flex;
    gap: 10px;
}

.form-information{
    form {
        width: 100%;
        padding: 0 71px;
      }
      
        label { 
         display: block; 
         margin-bottom: 10px; 
         margin-top: 10px; 
         font-weight: bold; 
         width: 100%;
      }

      .input-box{
        height: 20px;
        width: 600px;
      }
      .massage-box{
        width: 600px;
      }
    
     font-size: 1px;
  /* footer */

    .section-title{
        font-size: 600px;
        font-weight:bolder;
        color: rgb(9, 9, 168);
        font-size: 1px;
 }

    .section-description{
        font-size: 18px;
        color: #8987A1 ;
        margin: 0 auto;
}
    section ul li{
        list-style: none;
}

     section li a{
        text-decoration: none;
        font-size: 15px;
        color: #8987A1
}
     .list-items{
        display: flex;
        justify-content: center;
        gap: 50px;
        
        
}
